@using System.Runtime.InteropServices.JavaScript;

<h2>JS Module Isolation</h2>

<p>Blazor can import JS modules with JsImport.</p> 

<button class="btn btn-primary" @onclick="Prompt">Prompt</button>

<p class="mt-3">It also allows for JS files to be placed next to component files. Provided that file naming follows a convention, the path will be retained. (See sample)</p>

@if(pet is not null) 
{
    <p><b>So your favorite pet is: </b>@pet</p>
}

@code {
    string? pet;

    protected override async Task OnInitializedAsync() 
    {
        await JSHost.ImportAsync("JSModuleIsolation", 
            "../Test2/JSModuleIsolation.razor.js");
    }

    void Prompt() 
    {
        pet = ShowPrompt("What is the name of your favorite pet?");
    }
}