@inject IJSRuntime JSRuntime

<h1>JS Interop</h1>

<p>Demonstrates C# invoking a JavaScript function that returns a value.</p>

@if(!ready)
{
    <button @onclick="Ask">Invoke JS function</button>
}
else 
{
    <h2>Thank you!</h2>
}

@code {
    bool ready;

    async Task Ask()
    {
        // Calling the "askYesOrNo" function that is defined on the "window" object.

        ready = await JSRuntime.InvokeAsync<bool>("askYesOrNo", new object [] { "Are you ready? :)" });
    }
}