@using BlazorJsInterop.Test2

<PageTitle>BlazorJsInterop</PageTitle>

<div class="container pt-2 pt-md-5 col-md-6">
    <h1>JS Interop in Blazor</h1>

    <div class="pt-4">
        <InvokeJsFunction />
    </div>

    <div class="pt-4">
        <ColorBox />
    </div>

    <div class="pt-4">
        <PetFinder />
    </div>

    <div class="pt-4">
        <JSModuleIsolation />
    </div>
</div>