<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>

    <NotFound>
        <h1>Nothing here :(</h1>
        <p>Page was not found.</p>
    </NotFound>
</Router>